/*==================================================

  Variables

==================================================*/


/*
 * Screen sizes
 */

$screen-xs: 450px;
$screen-s : 800px;
$screen-m : 1200px;