/*==================================================

  Variables

==================================================*/


/*
 * Screen sizes
 */

$screen-xs: 450px;
$screen-s : 800px;
$screen-m : 1200px;


/*
 * Colors
 */

$html : #EC6831;
$css  : #0088C5;
$js   : #EAB033;