/*==================================================

  Decorators

==================================================*/


/*
 * Link
 */

.link {
  cursor              : pointer;
  text-decoration     : underline;
  text-decoration-skip: ink;
}


/*
 * Colors
 */

.black-fadein {
  color     : rgba(0,0,0,.5);
  fill      : rgba(0,0,0,.5);
  transition: .2s;

  &:hover {
    color : rgba(0,0,0,.9);
    fill  : rgba(0,0,0,.9);
  }

}

.white-fadein {
  color     : rgba(255,255,255,.5);
  fill      : rgba(255,255,255,.5);
  transition: .2s;

  &:hover {
    color : rgba(255,255,255,.9);
    fill  : rgba(255,255,255,.9);
  }

}


/*
 * Card
 */

.card {
  border-radius : .3rem;
  box-shadow    : 0 .2rem .4rem rgba(0,0,0,.3);
  background    : #FFFFFF;
}

.card {
  background    : #F8F9FA;
  border-radius : .3rem;
  box-shadow    : 0 .2rem .4rem rgba(0,0,0,.3);
}