/*==================================================

  Accordion

==================================================*/


/*
 * General
 */

.accordion {
  display   : block;
  overflow  : hidden;
  transition: .2s;

  &.active > .accordion-summary:after {
    transform: rotate(-90deg);
  }

}


/*
 * Accordion summary
 */

.accordion-summary {
  display             : flex;
  justify-content     : space-between;
  align-items         : center;
  cursor              : pointer;
  user-select         : none;
  -webkit-user-select : none;
  padding             : 1rem;
  margin              : 0;
  background          : #eee;
  color               : #444;
  transition          : .2s;

  &:after {
    content   : url('../images/caret.svg');
    transition: .2s;
  }

  &:hover {
    background: #ddd;
  }

}