@import "../essentials/variables";
/*==================================================

  Form

==================================================*/


/*
 * Span & legend
 */

label span {
  padding: .4rem 0;
  margin : 0 1rem 0 0;
}

label legend {
  padding: 0;
}


/*
 * Input, textarea, select
 */

label input,
label textarea,
label select {
  padding     : 1rem .5rem;
  border      : .1rem solid #666;
  font-family : sans-serif;
  font-size   : 1.4rem;

  &:focus, &:hover {}
  &:valid {}
  &:invalid {}

}


/*
 * Toggle
 */

.toggle {
  cursor        : pointer;
  position      : relative;
  --width       : 4rem;
  --height      : 2.6rem;
  width         : var(--width);
  height        : var(--height);
  border-radius : 400rem;
  box-shadow    : inset 0 .1rem .3rem 0 rgba(0,0,0,.4);
  background    : #ccc;
  transition    : .2s;

  &:after {
    content       : '';
    position      : absolute;
    top           : .3rem;
    left          : .3rem;
    width         : calc(var(--height) - 0.6rem);
    height        : calc(var(--height) - 0.6rem);
    border-radius : 50%;
    box-shadow    : 0 .2rem .4rem 0 rgba(0,0,0,.24);
    background    : white;
    transition    : .2s;
  }

}

// Toggle checked
input[type=checkbox]:checked ~ .toggle {
  background: rgba(80,200,80,.6);

  &:after {
    left: calc(var(--width) - var(--height) + .3rem);
  }

}


/*
 * Checkbox & radio
 */

.checkbox,
.radio {
  cursor        : pointer;
  position      : relative;
  width         : 1.6rem;
  height        : 1.6rem;
  margin        : .5rem;
  border        : .2rem solid #666;
  border-radius : .2rem;

  &:before {
    content       : '';
    position      : absolute;
    top           : 50%;
    left          : 50%;
    z-index       : 1;
    width         : 3.2rem;
    height        : 3.2rem;
    border-radius : 50%;
    background    : transparent;
    transform     : translate3d(-50%,-50%,0);
    transition    : .2s;
  }

  &:after {
    content       : '';
    position      : absolute;
    top           : 50%;
    left          : 50%;
    z-index       : 2;
    width         : .8rem;
    height        : .8rem;
    border-radius : .2rem;
    background    : #333;
    transform     : translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition    : .2s;
  }

}

.radio,
.radio:after {
  border-radius: 50%;
}

// Checkbox & radio checked
input[type=checkbox],
input[type=radio] {
  
  &:focus ~ .checkbox:before,
  &:hover ~ .checkbox:before,
  &:focus ~ .radio:before,
  &:hover ~ .radio:before {
    background: rgba(0,0,0,.1);
  }

  &:checked ~ .checkbox:after,
  &:checked ~ .radio:after {
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
  }

  &:disabled ~ .checkbox,
  &:disabled ~ .radio {
    opacity: .3;
  }

}


/*
 * Label layouts
 */

label {
  display: flex;

  &.inline {
    flex-direction: row;
    align-items   : stretch;
  }

  &.block {
    flex-direction: column;
  }

  &.spaced {
    flex-flow       : row nowrap;
    align-items     : center;
    justify-content : space-between;

    input, textarea, select {
      flex-basis: 20rem;
    }

  }

  &.centered {
    flex-direction: column;
    align-items   : center;
  }

}


/*
 * Fieldset layouts
 */

fieldset {
  display : flex;
  border  : none;
  padding : 0;

  &.inline {
    flex-flow: row wrap;
  }

  &.block {
    flex-flow: column wrap;
  }

  &.split {
    flex-flow: row nowrap;

    @media (max-width: $screen-s) {
      flex-flow: column nowrap;
    }

    label {
      flex: 1 1 auto;
    }

  }

}


/*
 * Clearing default values
 */

textarea {
  -webkit-appearance: textfield;
  resize            : vertical;
  overflow          : auto;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  z-index : -1;
  opacity : 0;
}

input[type="number"] {
  width: 100%;
}