/*==================================================

  Tabs

==================================================*/


/*
 * General
 */

.tabs {

  nav {
    display   : flex;
    overflow-x: auto;
    overflow-y: hidden;
    background: #eee;

    a {
      padding       : 1rem 3rem;
      border-bottom : .4rem solid transparent;
      white-space   : nowrap;

      &.active {
        border-bottom: .4rem solid dodgerblue;
      }

    }

  }

}


/*
 * Tab content
 */

.tab-content {
  display : none;
  padding : 2rem;

  &.active {
    display: block;
  }

}